{
  "presets": ["env", "stage-0"],
  "plugins": ["@emotion"]
}

// {
//   "presets": ["@babel/preset-env", "@babel/preset-react"],
//   "plugins": ["@emotion"]
// }

// {
//   "presets": ["@babel/react", "@babel/env"],
//   "plugins": ["@emotion"]
// }
