body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .thumbnail {
    max-height: 10rem;
    max-width: 7rem;
  }

/* 
  const green = '#39D1B4';
  const yellow = '#FFD712'; */